.roleAndBand {
    font-size: 11pt;
}
.roleAndBand::first-letter{
    text-transform: capitalize;
}
.nameAndLastName{
    font-size: 11pt;
    font-weight: bold;
}
.listOfMusicians {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .listOfMusicians {
        width: 260px;
    }
}