.main {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  background-color: dodgerblue;
}
.header {
  background-color: white;
  height: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.filterMenu {
  background-color: red;
  width: 200px;
  height: 600px;
}