.main {
  min-height: 100vh;
  width: 100vw;
  font-family: Georgia, serif;
  font-size: 11pt;
}
.header {
  background-color: black;
  height: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.contentBlock {
  display: flex;
}

body {
  background-color: black;
}

.filterMenu {
  background-color: grey;
  width: 200px;
  height: 500px;
  position: fixed;
  margin-top: 10px;
  transition: all 2s ease 0s;
}

.items {
  width: 100%;
  height: auto;
  margin-left: 200px;
}

.css-b62m3t-container {
  margin: 5px;
}

@media (max-width: 768px) {
  .filterMenu {
    width: 140px;
  }
  .items {
    margin-left: 140px;
  }
}

